
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i&display=swap');

$font-heading: 'DM Serif Display', sans-serif;
$font-primary: 'Inconsolata', sans-serif;

// required
// @import "bootstrap";
@import "functions";
@import "variables";
@import "mixins";



/* =======================================================
*
* 	Template Plants Style 
*	Edit this section
*
* ======================================================= */

html {
	overflow-x: hidden;
}
body {
	background: $white;
	font-family: $font-primary;
	font-weight: 400;
	font-size: .96rem;
	line-height: 1.8;
	color: gray('600');
}
a {
	transition: .3s all ease;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5 {
	color: $black;
	line-height: 1.5;
	font-family: $font-heading;
	font-weight: 700;
	letter-spacing: .1rem;
}
.btn, .form-control {
	outline: none;
	box-shadow: none !important;
	border-radius: 0;
	&:focus, &:active {
		outline: none;
	}
}
.form-control {
	box-shadow: none !important;
	min-height: 48px;
	border-width: 1.5px;
	border-color: $black;
}
textarea.form-control {
	height: inherit;
}
.btn {
	font-size: 13px;
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-weight: 900;
	&.btn-primary {
		outline: 1px dashed red;
	}
}






