@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,700,700i&display=swap");
/* =======================================================
*
* 	Template Plants Style 
*	Edit this section
*
* ======================================================= */
html {
	overflow-x: hidden;
}

body {
	background: #fff;
	font-family: "Inconsolata", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.8;
	color: #6c757d;
}

a {
	transition: 0.3s all ease;
	text-decoration: none;
	color: #ffc107;
}
a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	color: #000;
	line-height: 1.5;
	font-family: "DM Serif Display", sans-serif;
	font-weight: 700;
	letter-spacing: 0.1rem;
}

.btn, .form-control {
	outline: none;
	box-shadow: none !important;
	border-radius: 0;
}
.btn:focus, .btn:active, .form-control:focus, .form-control:active {
	outline: none;
}

.form-control {
	box-shadow: none !important;
	min-height: 48px;
	border-width: 0.1125rem;
	border-color: #000;
}
.form-control:hover, .form-control:active, .form-control:focus {
	border-color: #ffce3a;
	background: rgba(255, 255, 255, 0.4);
}

textarea.form-control {
	height: inherit;
}

.btn {
	font-size: 0.8125rem;
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: 900;
}
.btn.btn-primary {
	color: #fff;
	border-width: 0.1125rem;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
	border-color: #ffce3a;
	background: #ffce3a;
}
.btn.btn-sm {
	font-size: 12px;
}
.btn.btn-outline-primary {
	border-width: 0.1125rem;
	color: #ffc107;
}
.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
	color: #fff;
}
.btn.btn-outline-white {
	border-width: 0.1125rem;
	border-color: #fff;
	color: #ffc107;
}
.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
	color: #fff;
}
.btn:hover {
	text-decoration: none;
}

/* Header */
#main-header {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	z-index: 10;
	background: transparent !important;
}
@media (max-width: 1199.98px) {
	#main-header {
		top: 0;
	}
}
#main-header .navbar-toggler {
	color: #fff;
	border: 1px solid #ccc;
}
#main-header .navbar-brand {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: 400;
	color: #fff;
}
#main-header .navbar-brand.absolute {
	position: absolute;
}
@media (max-width: 991.98px) {
	#main-header .navbar-brand.absolute {
		position: relative;
	}
}
#main-header .navbar-brand span {
	color: #fff;
}
@media (max-width: 1199.98px) {
	#main-header .navbar-nav {
		padding-left: 0 !important;
	}
}
#main-header .navbar {
	padding-top: 0;
	padding-bottom: 0;
	background: transparent !important;
	position: relative;
	font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@media (max-width: 1199.98px) {
	#main-header .navbar {
		background: black !important;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}
#main-header .navbar .nav-link {
	padding: 1.5rem 1rem;
	outline: none;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
}
@media (max-width: 1199.98px) {
	#main-header .navbar .nav-link {
		padding: 0.5rem 0rem;
	}
}
#main-header .navbar .nav-link.active {
	color: #ffc107;
}
#main-header .navbar .nav-link:hover {
	color: #ffc107;
	transition: 0.3s all ease;
}
#main-header .navbar .dropdown-menu {
	font-size: 0.875rem;
	border-radius: 0;
	border: none;
	box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.2);
	min-width: 13rem;
	margin-top: -14px;
	transition: opacity 0.2s ease-in-out;
}
#main-header .navbar .dropdown-menu .dropdown-item:hover {
	background: #ffc107;
	color: #000;
}
#main-header .navbar .dropdown-menu .dropdown-item.active {
	background: #ffc107;
	color: #000;
}
#main-header .navbar .dropdown-menu a {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #000;
}
#main-header .navbar .dropdown-menu a:hover {
	padding-left: 27px;
}
#main-header .navbar .cta-btn a {
	background: #ffc107;
	color: #000;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	padding-top: 26px;
	padding-bottom: 26px;
	line-height: 1;
	transition: 0.3s all ease;
}
#main-header .navbar .cta-btn a:hover {
	color: #000;
	box-shadow: 2px 0 30px -5px rgba(255, 193, 7, 0.9);
}
#main-header .search-form {
	position: relative;
}
#main-header .search-form .fa {
	position: absolute;
	top: 50%;
	left: 2%;
	font-size: 1.2rem;
	transform: translateY(-50%);
	color: #fff;
}
#main-header .search-form .form-control {
	padding-left: 30px;
	border: none;
	height: 44px;
	border-radius: 0;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
}
#main-header .search-form .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.5);
}
#main-header .search-form .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.5);
}
#main-header .search-form .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.5);
}
#main-header .search-form .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.5);
}

.half .text, .half .image {
	width: 50%;
}
@media (max-width: 991.98px) {
	.half .text, .half .image {
		width: 100%;
	}
}
.half .text {
	padding: 7%;
}
.half .image {
	background-size: cover;
	background-position: center center;
}
@media (max-width: 991.98px) {
	.half .image {
		height: 350px;
	}
}

.section-heading h2 {
	font-size: 3.125rem;
}
.section-heading .small-sub-heading {
	font-size: 0.875rem;
	color: #ffc107;
}

.blog .media h3 {
	font-size: 1.25rem;
	margin-bottom: 10px;
}
.blog .media .post-meta {
	font-size: 0.875rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}
.blog .media > a {
	width: 40%;
}
@media (max-width: 767.98px) {
	.blog .media > a {
		width: 100%;
		margin-bottom: 30px;
	}
}

.custom-icon {
	font-size: 4.375rem;
	color: #ffc107;
}

/* Owl Carousel */
.home-slider {
	position: relative;
	z-index: 4;
}
.home-slider .owl-item {
	opacity: 4;
}
.home-slider .owl-item.active {
	opacity: 1;
}
.home-slider .owl-nav {
	outline: 1px dashed red;
	position: absolute;
	top: 50%;
	width: 100%;
}
.home-slider .owl-nav .owl-prev,
.home-slider .owl-nav .owl-next {
	position: absolute;
	transform: translateY(-50%);
	margin-top: -10px;
	opacity: 1;
	transition: 0.3s all ease;
}
.home-slider .owl-nav .owl-prev:hover, .home-slider .owl-nav .owl-prev:focus, .home-slider .owl-nav .owl-prev:active,
.home-slider .owl-nav .owl-next:hover,
.home-slider .owl-nav .owl-next:focus,
.home-slider .owl-nav .owl-next:active {
	outline: none;
	opacity: 1;
}
.home-slider .owl-nav .owl-prev span:before,
.home-slider .owl-nav .owl-next span:before {
	font-size: 2.5rem;
}
.home-slider .owl-nav .owl-prev {
	left: 30px;
}
.home-slider .owl-nav .owl-next {
	right: 30px;
}
.home-slider .owl-dots {
	text-align: center;
}
.home-slider .owl-dots .owl-dot {
	width: 7px;
	height: 7px;
	border-radius: 4px;
	margin: 5px;
	background: none;
	background: #fff;
}
.home-slider .owl-dots .owl-dot.active {
	width: 12px;
	background: none;
}
.home-slider.home-slider {
	z-index: 1;
	position: relative;
}
.home-slider.home-slider .btn-link {
	color: #fff;
}
.home-slider.home-slider .owl-nav {
	opacity: 1;
	visibility: visible;
	transition: 0.3s all ease;
}
.home-slider.home-slider .owl-nav button {
	color: #fff;
}
.home-slider.home-slider:focus .owl-nav, .home-slider.home-slider:hover .owl-nav {
	opacity: 1;
	visibility: visible;
}
.home-slider.home-slider.inner-page .slider-item {
	position: relative;
	z-index: 10;
	height: calc(50vh - 117px);
	min-height: 550px;
}
.home-slider.home-slider.inner-page .slider-item .slider-text {
	color: #fff;
	height: calc(50vh - 117px);
	min-height: 550px;
}
.home-slider.home-slider .owl-dots {
	position: absolute;
	bottom: 100px;
	width: 100%;
}
.home-slider.home-slider .owl-dots .owl-dot {
	width: 5px;
	height: 5px;
	margin: 5px;
	border-radius: 50%;
	border-radius: 4px;
	border-radius: 0px;
	outline: none;
	position: relative;
	transition: 0.3s all ease;
	background: white;
	opacity: 0.5;
}
.home-slider.home-slider .owl-dots .owl-dot span {
	background: none;
}
.home-slider.home-slider .owl-dots .owl-dot.active {
	width: 15px;
	opacity: 1;
}
.home-slider.home-slider .owl-dots .owl-dot.active span {
	background: white;
}
.home-slider.major-caousel .owl-stage-outer {
	padding-top: 30px;
	padding-bottom: 30px;
}
.home-slider.major-caousel .owl-nav .owl-prev, .home-slider.major-caousel .owl-nav .owl-next {
	transition: 0.3s all ease;
	color: #495057;
}
.home-slider.major-caousel .owl-nav .owl-prev:hover, .home-slider.major-caousel .owl-nav .owl-prev:focus, .home-slider.major-caousel .owl-nav .owl-next:hover, .home-slider.major-caousel .owl-nav .owl-next:focus {
	color: #6c757d;
	outline: none;
}
.home-slider.major-caousel .owl-nav .owl-prev.disabled, .home-slider.major-caousel .owl-nav .owl-next.disabled {
	color: #dee2e6;
}
.home-slider.major-caousel .owl-nav .owl-prev {
	left: -60px !important;
}
.home-slider.major-caousel .owl-nav .owl-next {
	right: -60px !important;
}
.home-slider.major-caousel .owl-dots {
	bottom: -30px !important;
	position: relative;
}

.inner-page .slider-item {
	position: relative;
	height: calc(70vh);
	min-height: 550px;
}
.inner-page .slider-item .slider-text {
	color: #fff;
	height: calc(50vh - 117px);
	min-height: 550px;
}

.slider-item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: calc(100vh);
	min-height: 700px;
	position: relative;
}
.slider-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.4;
}
.slider-item .slider-text {
	color: #fff;
	height: calc(100vh);
	min-height: 700px;
}
.slider-item .slider-text .child-name {
	font-size: 2.5rem;
	color: #fff;
}
.slider-item .slider-text h1 {
	font-size: 7rem;
	color: #fff;
	line-height: 1.3;
	font-weight: 700;
	margin-bottom: 34px;
}
.slider-item .slider-text h1 span {
	color: #fff;
	background-color: #fff;
	box-shadow: 0.5em 0 0 #ffc107, -0.5em 0 0 #ffc107;
}
@media (max-width: 991.98px) {
	.slider-item .slider-text h1 {
		font-size: 3.2rem;
	}
}
.slider-item .slider-text p {
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: 300;
	color: white;
	margin: 0 auto;
}
.slider-item .slider-text p a {
	color: #ffc107;
	text-decoration: none;
}
.slider-item .slider-text p a:hover {
	color: #fff;
	text-decoration: underline;
}
.slider-item .slider-text p.sub-text {
	line-height: 2;
}

.owl-custom-nav {
	float: right;
	position: relative;
	z-index: 10;
}
.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
	padding: 10px;
	font-size: 1.875rem;
	background: #ccc;
	line-height: 0;
	width: 60px;
	text-align: center;
	display: inline-block;
}

.section {
	position: relative;
	padding: 7rem 0;
}

.section-subscribe {
	padding: 2rem 0;
}
.section-subscribe h2 {
	color: #fff;
}
.section-subscribe p {
	font-size: 1.2rem;
	color: rgba(255, 255, 255, 0.4);
}
.section-subscribe .form-control {
	border-color: #fff;
	color: #fff;
}
.section-subscribe .form-control::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: rgba(255, 255, 255, 0.4) !important;
}
.section-subscribe .form-control::-moz-placeholder {
	/* Firefox 19+ */
	color: rgba(255, 255, 255, 0.4) !important;
}
.section-subscribe .form-control:-ms-input-placeholder {
	/* IE 10+ */
	color: rgba(255, 255, 255, 0.4) !important;
}
.section-subscribe .form-control:-moz-placeholder {
	/* Firefox 18- */
	color: rgba(255, 255, 255, 0.4) !important;
}

.contact-form-contact-info p {
	margin-bottom: 30px;
	margin-bottom: 20px;
	line-height: 1.5;
	color: #000;
}
.contact-form-contact-info p i {
	margin-right: 1.2rem;
	top: -4px;
	position: relative;
	width: inherit;
	font-size: 1.875rem;
	color: #ffc107;
}
.contact-form-contact-info .contact-detail {
	padding: 10px 14px;
}

.load-more {
	display: block;
	padding: 40px;
	text-align: center;
	background: #e9ecef;
	color: #000;
	font-size: 1.25rem;
}
.load-more:hover {
	background: #ffc107;
	color: #fff;
}

.cover_1 {
	background-size: cover;
	background-position: center center;
	padding: 7rem 0;
}
.cover_1 .sub-heading {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.375rem;
}
.cover_1 .heading {
	font-size: 3.125rem;
	color: white;
	font-weight: 300;
}

.heading {
	color: #000;
}
.heading.border-bottom {
	position: relative;
	padding-bottom: 30px;
}
.heading.border-bottom:before {
	bottom: 0;
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
	background: #ffc107;
}

.text-black {
	color: #000 !important;
}

.stretch-section .video {
	display: block;
	position: relative;
	box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
}

.media-feature {
	padding: 30px;
	transition: 0.2s all ease-out;
	background: #fff;
	z-index: 1;
	position: relative;
	border-bottom: 10px solid transparent;
	border-radius: 4px;
	font-size: 0.9375rem;
}
.media-feature .icon {
	font-size: 3.75rem;
	color: #ffc107;
}
.media-feature h3 {
	font-size: 1rem;
	text-transform: uppercase;
}
.media-feature:hover, .media-feature:focus {
	box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
	transform: scale(1.05);
	z-index: 2;
	border-bottom: 10px solid #ffc107;
}

.media-custom {
	background: #fff;
	transition: 0.3s all ease;
	margin-bottom: 30px;
	position: relative;
	top: 0;
}
.media-custom .meta-post {
	color: #ced4da;
	font-size: 0.8125rem;
	text-transform: uppercase;
}
.media-custom > a {
	position: relative;
	overflow: hidden;
	display: block;
}
.media-custom .meta-chat {
	color: #ced4da;
}
.media-custom .meta-chat:hover {
	color: #6c757d;
}
.media-custom img {
	transition: 0.3s all ease;
}
.media-custom:focus img, .media-custom:hover img {
	transform: scale(1.1);
}
.media-custom .media-body {
	padding: 24px;
	margin-top: 0;
}
.media-custom .media-body h3 {
	font-size: 1.25rem;
}
.media-custom .media-body p:last-child {
	margin-bottom: 0;
}

.media-testimonial img {
	width: 100px;
	border-radius: 50%;
}
.media-testimonial blockquote p {
	font-size: 1.25rem;
	color: #000;
	font-style: italic;
}

.list-unstyled.check li {
	outline: 1px dashed greenyellow;
	position: relative;
	padding-left: 30px;
	line-height: 1.3;
	margin-bottom: 10px;
}
.list-unstyled.check li:before {
	color: #17a2b8;
	left: 0;
	font-family: "Ionicons";
	content: "";
	position: absolute;
}

#modalAppointment .modal-content {
	border-radius: 0;
	border: none;
}
#modalAppointment .modal-body, #modalAppointment .modal-footer {
	padding: 40px;
}

.post-meta {
	text-transform: uppercase;
	font-size: 0.75rem;
	color: #b3b3b3;
	letter-spacing: 0.2rem;
	display: block;
	margin-bottom: 10px;
}

.site-footer {
	padding: 7rem 0;
	background: #ffc809;
	font-size: 0.95rem;
}
.site-footer p {
	color: #000;
	font-weight: 400;
}
.site-footer p:last-child {
	margin-bottom: 0;
}
.site-footer a {
	color: #000;
	text-decoration: none;
}
.site-footer .footer-title {
	font-size: 1.1rem;
	letter-spacing: 0.125rem;
	font-weight: 700;
	color: #000;
	margin-bottom: 1.2rem;
}
.site-footer .footer-link a {
	color: #000;
}
.site-footer .footer-link li {
	color: #000;
	line-height: 1.5;
	margin-bottom: 14px;
}
.site-footer hr {
	width: 100%;
}

.footer-social a {
	line-height: 0;
	border-radius: 50%;
	margin: 0 5px 5px 0;
	border: 1px solid rgba(255, 255, 255, 0.1);
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
}
.footer-social a:hover {
	background: #fff;
	border-color: #fff;
	color: #000;
}

.link-thumbnail {
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
}
@media (max-width: 991.98px) {
	.link-thumbnail {
		margin-bottom: 30px;
	}
}
.link-thumbnail img {
	position: relative;
	transition: 0.3s all ease;
}
.link-thumbnail .date {
	display: block;
	font-size: 0.75rem;
	color: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	margin-bottom: 10px;
}
.link-thumbnail .fa {
	position: absolute;
	transition: 0.3s all ease;
	z-index: 4;
	top: 50%;
	font-size: 1.875rem;
	color: #fff;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	margin-top: 30px;
}
.link-thumbnail h3 {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: -20px;
	left: 0;
	color: #fff;
	font-size: 1.125rem;
	transition: 0.5s all ease;
	z-index: 10;
	left: 50%;
	display: block;
	width: 77%;
	transform: translateX(-50%);
}
.link-thumbnail:before {
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	transition: 0.3s all ease;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
}
.link-thumbnail:hover h3 {
	opacity: 1;
	visibility: visible;
	bottom: 30px;
}
.link-thumbnail:hover img {
	transform: scale(1.1);
}
.link-thumbnail:hover .icon {
	opacity: 1;
	visibility: visible;
	margin-top: 0px;
}
.link-thumbnail:hover:before {
	opacity: 1;
	visibility: visible;
}

.border-t {
	border-top: 1px solid #f8f9fa;
}

.element-animate {
	opacity: 0;
	visibility: hidden;
}

.block-41 .block-41-subheading {
	margin-bottom: 30px;
}
.block-41 .block-41-subheading > div {
	display: inline-block;
	text-transform: uppercase;
}
.block-41 .block-41-subheading > div.block-41-line {
	height: 2px;
	width: 50px;
	background: #ffc107;
}
.block-41 .block-41-heading {
	font-size: 3.125rem;
	line-height: 1.2;
}
@media (min-width: 768px) {
	.block-41 .block-41-text {
		font-size: 1.25rem;
	}
}

.block-6 {
	margin-bottom: 30px;
}
.block-6 .icon,
.block-6 .fa {
	margin-right: 40px;
}
.block-6 .icon span:before,
.block-6 .fa span:before {
	font-size: 50px;
}
.block-6 .icon span.bg-after,
.block-6 .fa span.bg-after {
	position: relative;
}
.block-6 .icon span.bg-after:after,
.block-6 .fa span.bg-after:after {
	position: absolute;
	content: "";
	left: -20px;
	top: -25px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ffc107;
	z-index: -1;
}
.block-6.d-block .icon,
.block-6.d-block .fa {
	margin-right: 0;
}
.block-6 .media-body .heading {
	font-size: 20px;
}
.block-6 .media-body p {
	font-size: 16px;
}

.block-11 .owl-stage {
	padding-top: 30px;
	padding-bottom: 30px;
}
.block-11 .owl-nav {
	display: none;
	position: relative;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translateX(-50%);
}
.block-11 .owl-nav .owl-prev, .block-11 .owl-nav .owl-next {
	position: relative;
	display: inline-block;
}
.block-11 .owl-nav .owl-prev.active, .block-11 .owl-nav .owl-prev:focus, .block-11 .owl-nav .owl-next.active, .block-11 .owl-nav .owl-next:focus {
	outline: none;
}
.block-11 .owl-nav .owl-prev span, .block-11 .owl-nav .owl-next span {
	font-size: 1.875rem;
	padding: 20px;
}
.block-11 .owl-nav .owl-prev.disabled, .block-11 .owl-nav .owl-next.disabled {
	opacity: 0.2;
}
.block-11 .owl-dots {
	text-align: center;
	bottom: -2rem;
	position: relative;
}
.block-11 .owl-dots .owl-dot {
	display: inline-block;
}
.block-11 .owl-dots .owl-dot > span {
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #ccc;
	margin: 5px;
	border-radius: 50%;
}
.block-11 .owl-dots .owl-dot.active > span {
	background: #ffc107;
}

.block-33 {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.block-33 .vcard .image {
	flex: 0 0 60px;
	margin-right: 20px;
}
.block-33 .vcard .image img {
	max-width: 100%;
	border-radius: 50%;
	border: 5px solid white;
}
.block-33 .vcard .name-text .heading {
	line-height: 1.5;
	margin: 0;
	padding: 0;
	font-size: 1.125rem;
	font-weight: 300;
}
.block-33 .vcard .name-text .meta {
	color: #a6a6a6;
	display: block;
}
.block-33 .text blockquote {
	padding: 0;
	margin-bottom: 0;
	border: none;
	font-size: 1rem;
}
.block-33 .text blockquote p:last-child {
	margin-bottom: 0;
}

#loader {
	position: fixed;
	width: 96px;
	height: 96px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
	border-radius: 16px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
	z-index: 1000;
}
#loader.fullscreen {
	padding: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}
#loader.show {
	transition: opacity 0.4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}
#loader .circular {
	animation: loader-rotate 2s linear infinite;
	position: absolute;
	left: calc(50% - 24px);
	top: calc(50% - 24px);
	display: block;
	transform: rotate(0deg);
}
#loader .path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: loader-dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes loader-rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes loader-dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -136px;
	}
}
div .btn-play-wrap {
	position: relative;
	height: 100px;
	width: 100px;
}
div .btn-outline-black {
	border: 0.1125rem solid #000;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 10px 20px;
	color: #000;
}
div .btn-outline-black:hover {
	color: #fff;
	background: #000;
	border-color: #000;
}
div .btn-outline-white {
	border: 0.1125rem solid #fff;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 10px 20px;
	color: #fff;
}
div .btn-outline-white:hover {
	color: #000 !important;
	background: #fff;
	border-color: #fff;
}

.section-title {
	font-weight: 400;
}
.section-title strong {
	font-weight: 700;
}

.navbar-toggler {
	border: 1px solid transparent;
}